<nz-modal [nzVisible]="true" nzTitle="数据处理" (nzOnCancel)="dataHandleCancel()" (nzOnOk)="dataHandleOk()" nzWidth="85%"
  [nzMaskClosable]="false" [nzFooter]="null">
  <nz-radio-group [(ngModel)]="exportMode" (ngModelChange)="selectEM()">
    <label nz-radio [nzValue]="1">导出表格</label>
    <label nz-radio [nzValue]="2">导出数据</label>
    <label nz-radio [nzValue]="3">导入</label>
  </nz-radio-group>

  <div *ngIf="exportMode === 1">
    <nz-divider nzText="选择导出位置"></nz-divider>
    <div>
      <p>导出会在模板所在的文件夹下创建一个导出时的时间文件夹（例：1970-01-01T12:12:12导出）</p>
      <div *ngIf="e.isLinux">
        <h2 *ngIf="template.files?.length === 0">没有找到更新文件
          <button nz-button nzType="primary" (click)="getTemplate()">
            获取模板文件
          </button>
          <p>{{template.fileMsg | json}}</p>
        </h2>
        <nz-radio-group [(ngModel)]="template.selectFile" [nzDisabled]="template.start"
          (ngModelChange)="radioSelectTemp()">
          <label nzSize="large" class="radio-item" nz-radio [nzValue]="item"
            *ngFor="let item of template.files">{{item | GetPathName}}</label>
        </nz-radio-group>
      </div>
      <div style="display: flex;flex-wrap: wrap;" *ngIf="e.isWindows || apps.userInfo?.jurisdiction > 8">
        <button nz-button nzType="primary"
          (click)="selectTemp()">选择导出模板</button>&nbsp;&nbsp;&nbsp;
        <button nz-button nzType="primary"
          (click)="selectSavePath()">选择保存位置</button>&nbsp;&nbsp;&nbsp;
        <span style="background-color: #12a182; color: white; display: flex;align-items: center; padding: 0 15px;">保存路径：{{savePath}}</span>&nbsp;&nbsp;&nbsp;
        <span style="background-color: #96c24e; color: white; display: flex; align-items: center; padding: 0 15px;">模板路径：{{tempPath}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="exportMode === 2">
    <nz-divider nzText="选择导出位置"></nz-divider>
    <div>
      <p>导出时的时间文件（例：1970-01-01T12:12:12Data.datakvm）</p>
      <div *ngIf="e.isLinux">
        <h2 *ngIf="template.files?.length === 0">没有找到更新文件
          <button nz-button nzType="primary" (click)="getTemplate()">
            获取模板文件
          </button>
          <p>{{template.fileMsg | json}}</p>
        </h2>
      </div>
      <div style="display: flex;flex-wrap: wrap;" *ngIf="e.isWindows || apps.userInfo?.jurisdiction > 8">
        <button nz-button nzType="primary" (click)="selectSavePath()">选择保存位置</button>&nbsp;&nbsp;&nbsp;
        <span style="background-color: #12a182; color: white; display: flex;align-items: center; padding: 0 15px;">保存路径：{{savePath}}</span>&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>

  <!-- <nz-divider nzText="选择处理数据"></nz-divider>
  <nz-checkbox-wrapper style="width: 100%;">
    <label nz-checkbox [(ngModel)]="dataProcessing.task" (ngModelChange)="onSelectClass($event, 'task')">任 务</label>
    <label nz-checkbox [(ngModel)]="dataProcessing.project"
      (ngModelChange)="onSelectClass($event, 'project')">项目</label>
    <label nz-checkbox [(ngModel)]="dataProcessing.component"
      (ngModelChange)="onSelectClass($event, 'component')">构建</label>
    <label nz-checkbox [(ngModel)]="dataProcessing.jack" (ngModelChange)="onSelectClass($event, 'jack')">顶</label>
  </nz-checkbox-wrapper> -->
  <br>
  <br>
  <div>
    <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="onTaskFliter($event)">
      <label nz-checkbox nzValue="0">已导出</label>
      <label nz-checkbox nzValue="1">未导出</label>
    </nz-checkbox-wrapper>
  </div>
  <div>
    <div *ngIf="savePath && tempPath">
      <nz-radio-group [(ngModel)]="taskData.sp" (ngModelChange)="selectTaskProject($event)">
        <label nz-radio [nzValue]="p.key" *ngFor="let p of taskData.project">{{p.title}}</label>
      </nz-radio-group>
      <hr>
      <nz-radio-group [(ngModel)]="taskData.sc" (ngModelChange)="selectTaskComponent($event)">
        <label nz-radio [nzValue]="c" *ngFor="let c of taskData.component">{{c}}</label>
      </nz-radio-group>
      <hr>
      <div style="display: flex;flex-wrap: wrap;">
        <div *ngFor="let b of taskData.bridge; index as i" class="bridge-item" style="">
          <label class="checkbox" [ngClass]="{'check': taskData.sb.indexOf(b.id) > -1}">
            <input type="checkbox" name="brigeBox" [checked]="taskData.sb.indexOf(b.id) > -1" (click)="setBridge(b)"
              [value]="b.id" />
            <p>
              {{b.name}}
            </p>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="taskData.sb.length > 0" style="display: flex; align-items: center;">
    <button nz-button nzType="primary" (click)="exportOk()" *ngIf="progress.msg === '导出'"
      [disabled]="!(taskData.sb.length > 0)" [nzLoading]="progress.state">{{progress.msg}}</button>
    <span *ngIf="progress.msg === '导出完成'">{{progress.msg}}{{progress.now}}条</span>
    <nz-progress [nzPercent]="progress.now / progress.length * 100" style="flex: 1; margin-left: 15px;"></nz-progress>
    <span>{{progress.length}} / {{progress.now}}</span>
  </div>
</nz-modal>
