<nz-modal [nzVisible]="true" nzTitle="数据处理" (nzOnCancel)="dataHandleCancel()" (nzOnOk)="dataHandleOk()" nzWidth="85%"
  [nzMaskClosable]="false" [nzFooter]="null">
  <nz-radio-group [(ngModel)]="exportMode" (ngModelChange)="selectEM()">
    <label nz-radio [nzValue]="1">导出表格</label>
    <label nz-radio [nzValue]="2">导出数据</label>
    <label nz-radio [nzValue]="3">导入</label>
  </nz-radio-group>

  <div *ngIf="exportMode === 1">
    <nz-divider nzText="导出位置"></nz-divider>
    <div>
      <p>导出会在模板所在的文件夹下创建一个导出时的时间文件夹（例：1970-01-01T12:12:12导出）</p>
      <div *ngIf="e.isLinux">
        <h2 *ngIf="template.files?.length === 0">没有找到更新文件
          <button nz-button nzType="primary" (click)="getTemplate()">
            获取模板文件
          </button>
          <p>{{template.fileMsg | json}}</p>
        </h2>
        <nz-radio-group [(ngModel)]="template.selectFile" [nzDisabled]="template.start"
          (ngModelChange)="radioSelectTemp()">
          <label nzSize="large" class="radio-item" nz-radio [nzValue]="item"
            *ngFor="let item of template.files">{{item | GetPathName}}</label>
        </nz-radio-group>
      </div>
      <div style="display: flex;flex-wrap: wrap;" *ngIf="e.isWindows || apps.userInfo?.jurisdiction > 8">
        <button nz-button nzType="primary" (click)="selectTemp()">选择导出模板</button>&nbsp;&nbsp;&nbsp;
        <button nz-button nzType="primary" (click)="selectSavePath()">选择保存位置</button>&nbsp;&nbsp;&nbsp;
        <span
          style="background-color: #12a182; color: white; display: flex;align-items: center; padding: 0 15px;">保存路径：{{savePath}}</span>&nbsp;&nbsp;&nbsp;
        <span
          style="background-color: #96c24e; color: white; display: flex; align-items: center; padding: 0 15px;">模板路径：{{tempPath}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="exportMode === 2">
    <nz-divider nzText="导出位置"></nz-divider>
    <div>
      <p>导出时的时间文件（例：1970-01-01T12:12:12Data.db</p>
      <div *ngIf="e.isLinux">
        <span style="background-color: #12a182; color: white; display: flex;align-items: center; padding: 0 15px;"
          *ngIf="upanState.path">保存u盘</span>&nbsp;&nbsp;&nbsp;
        <h2 *ngIf="!upanState.msg">正在检测U盘...</h2>
        <h2 *ngIf="upanState.msg">{{upanState.msg.stderr}}</h2>
      </div>
      <div style="display: flex;flex-wrap: wrap;" *ngIf="e.isWindows || apps.userInfo?.jurisdiction > 8">
        <button nz-button nzType="primary" (click)="selectSavePath()">选择保存位置</button>&nbsp;&nbsp;&nbsp;
        <span style="background-color: #12a182; color: white; display: flex;align-items: center; padding: 0 15px;"
          *ngIf="e.isWindows">保存路径：{{savePath}}</span>&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
  <div *ngIf="exportMode === 3">
    <nz-divider nzText="导出位置"></nz-divider>
    <div>
      <div *ngIf="e.isLinux">
        <h2 *ngIf="inData.files?.length === 0">没有找到数据文件
          <p>{{inData.fileMsg | json}}</p>
        </h2>
        <nz-radio-group [(ngModel)]="inData.selsectPath" [nzDisabled]="inData.start" (ngModelChange)="radioSelectDb()">
          <label nzSize="large" class="radio-item" nz-radio [nzValue]="item"
            *ngFor="let item of inData.files">{{item | GetPathName}}</label>
        </nz-radio-group>
      </div>
      <div style="display: flex;flex-wrap: wrap;" *ngIf="e.isWindows || apps.userInfo?.jurisdiction > 8">
        <button nz-button nzType="primary" (click)="selectDb()">选择数据文件</button>&nbsp;&nbsp;&nbsp;
        <h2>{{inData.selsectPath | GetPathName}}</h2>
        <h2>{{inData.msg}}</h2>
      </div>
    </div>
  </div>


  <div style="display: flex; flex-direction: column;" class="border-top"
    *ngIf="exportMode === 1 || exportMode === 2">
    <nz-checkbox-wrapper (nzOnChange)="onTaskFliter($event)" style="margin-bottom: 5px;">
      张拉状态：
      <label nz-checkbox [(ngModel)]="filter.ok" (click)="onFilter()">已张拉</label>
      <label nz-checkbox [(ngModel)]="filter.no" (click)="onFilter()">未张拉</label>
    </nz-checkbox-wrapper>
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div>
        已张拉日期: <nz-range-picker readonly [nzDisabled]="!filter.ok" [nzRanges]="rangesDate"
          [ngModel]="filter.tension.date" (ngModelChange)="onFilterDate($event, 'tension')"></nz-range-picker>
      </div>
      <div>
        浇筑日期: <nz-range-picker readonly [nzRanges]="rangesDate" [ngModel]="filter.pouring.date"
          (ngModelChange)="onFilterDate($event,'pouring')"></nz-range-picker>
      </div>
    </div>
  </div>
  <div *ngIf="savePath && ((tempPath && exportMode === 1) || exportMode === 2)">
    <div style="display: flex; flex-direction: column;" class="border-top">
      <nz-radio-group [(ngModel)]="taskData.sp" (ngModelChange)="selectTaskProject($event)">
        <label nz-radio [nzValue]="p.key" *ngFor="let p of taskData.project">{{p.title}}</label>
      </nz-radio-group>
    </div>
    <div style="display: flex; flex-direction: column;" class="border-top">
      <nz-radio-group [(ngModel)]="taskData.sc" (ngModelChange)="selectTaskComponent($event)">
        <label nz-radio [nzValue]="c" *ngFor="let c of taskData.component">{{c}}</label>
      </nz-radio-group>
    </div>
    <div style="display: flex;flex-wrap: wrap;" class="border-top">
      <div *ngFor="let b of taskData.bridge; index as i" class="bridge-item">
        <label class="checkbox" [ngClass]="{'check': taskData.sb.indexOf(b.id) > -1}">
          <input type="checkbox" name="brigeBox" [checked]="taskData.sb.indexOf(b.id) > -1" (click)="setBridge(b.id)"
            [value]="b.id" />
          <p>
            {{b.name}}
          </p>
        </label>
      </div>
    </div>
  </div>

  <nz-pagination [(nzPageIndex)]="filter.pageIndex" [(nzPageSize)]="filter.pageSize" [nzTotal]="filter.count"
    (nzPageIndexChange)="paginationChange()" (nzPageSizeChange)="paginationChange()" nzShowSizeChanger></nz-pagination>

  <nz-spin nzTip="正在处理数据..." *ngIf="inData.state">
    <nz-alert nzType="info">
    </nz-alert>
  </nz-spin>
  <div *ngIf="indatas">
    <nz-radio-group [(ngModel)]="taskData.sp" (ngModelChange)="selectTaskProject($event)">
      <label nz-radio [nzValue]="p.key" *ngFor="let p of taskData.project">{{p.title}}</label>
    </nz-radio-group>
    <nz-radio-group [(ngModel)]="taskData.sj" (ngModelChange)="selectTaskJack($event)">
      <label nz-radio [nzValue]="j.title" *ngFor="let j of taskData.jack">{{j.title}}</label>
    </nz-radio-group>
    <table class="gridtable">
      <thead>
        <tr>
          <th>选择</th>
          <th>梁号</th>
          <th>顶</th>
          <th>张拉孔道</th>
          <!-- <th>油泵编号</th>
            <th>标定系数a</th>
            <th>标定系数b</th>
            <th>标定日期</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="selectIndatas?.length === 0">
          <td colspan="4" style="color: red; text-align: center;">{{taskData.sj}}顶 没有数据</td>
        </tr>
        <ng-container *ngFor="let task of selectIndatas; index as i">
          <tr>
            <td>
              <label class="checkbox" [ngClass]="{'check': taskData.sb.indexOf(task.id) > -1}">
                <input type="checkbox" [checked]="taskData.sb.indexOf(task.id) > -1" (click)="setBridge(task.id)"
                  [value]="task.id" />
              </label>
            </td>
            <td>{{task.name}}</td>
            <td>{{task.jack?.name}} / {{modeName[task.device[1]]}}</td>
            <td>
              <span class="record" [ngClass]="{'ok': item.record }"
                *ngFor="let item of task.groups">{{item.name}}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>


  <div *ngIf="taskData.sb.length > 0" style="display: flex; align-items: center;" class="border-top" >
    <button nz-button nzType="primary" (click)="exportOk()" *ngIf="progress.btnTitle && !progress.success"
      [disabled]="!(taskData.sb.length > 0)" [nzLoading]="progress.state">{{progress.btnTitle}}</button>
    <div *ngIf="exportMode !== 2" style="flex: 1; display: flex;">
      <h2 *ngIf="progress.success">{{progress.msg}}{{progress.now}}条</h2>
      <nz-progress [nzPercent]="progress.now / progress.length * 100" style="flex: 1; margin-left: 15px;"></nz-progress>
      <span>{{progress.length}} / {{progress.now}}</span>
    </div>
    <h2 *ngIf="exportMode === 2 && progress.success">{{progress.msg}}</h2>
  </div>
  <div *ngIf="exportMode === 3">
    <div>
      添加：{{inResult.add?.length}}条
      <span *ngFor="let item of inResult.add">{{item}} </span>
    </div>
    <div>
      覆盖：{{inResult.merge?.length}}条
      <span *ngFor="let item of inResult.merge">{{item}} </span>
    </div>
    <div>
      跳过：{{inResult.jump?.length}}条
      <span *ngFor="let item of inResult.jump; index as i">{{item}} {{inResult.jump?.length === i ? '|' : ''}} </span>
    </div>
  </div>
</nz-modal>

<ng-template #tplTitle>
  <div>
    <input nz-input [(ngModel)]="nowBridgeName" />
    <h1>梁号重复，请修改梁号</h1>
  </div>
</ng-template>
