<nz-modal [nzVisible]="true" nzTitle="数据处理" (nzOnCancel)="dataHandleCancel()" (nzOnOk)="dataHandleOk()" nzWidth="85%">
  <nz-radio-group [(ngModel)]="dataProcessing.radioValue">
    <label nz-radio [nzValue]="false">导出</label>
    <label nz-radio [nzValue]="true">导入</label>
  </nz-radio-group>

  <nz-divider nzText="选择导出设备"></nz-divider>

  <nz-divider nzText="选择处理数据"></nz-divider>
  <nz-checkbox-wrapper style="width: 100%;">
    <label nz-checkbox [(ngModel)]="dataProcessing.task" (ngModelChange)="onSelectClass($event, 'task')">任 务</label>
    <label nz-checkbox [(ngModel)]="dataProcessing.project"
      (ngModelChange)="onSelectClass($event, 'project')">项目</label>
    <label nz-checkbox [(ngModel)]="dataProcessing.component"
      (ngModelChange)="onSelectClass($event, 'component')">构建</label>
    <label nz-checkbox [(ngModel)]="dataProcessing.jack" (ngModelChange)="onSelectClass($event, 'jack')">顶</label>
  </nz-checkbox-wrapper>
  <br>
  <br>
  <div class="data-processing-content">
    <nz-card nzTitle="任务" *ngIf="dataProcessing.task" style="flex: 2.2;">
      <button (click)="getTrr()">get</button>
      <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="onTaskCheckbox($event)">
        <label nz-checkbox nzValue="0">已导出</label>
        <label nz-checkbox nzValue="1">未导出</label>
        <label nz-checkbox nzValue="2">已张拉</label>
        <label nz-checkbox nzValue="3">未张拉</label>
      </nz-checkbox-wrapper>
      <hr>
      <div>
        <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="onTaskProject($event)">
          <label nz-checkbox [nzValue]="item.key" *ngFor="let item of taskData.project">{{item.title}}</label>
        </nz-checkbox-wrapper>
        <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="onTaskComponet($event)">
            <label nz-checkbox [nzValue]="item" *ngFor="let item of taskData.component">{{item}}</label>
          </nz-checkbox-wrapper>
        <!-- <nz-tree [nzData]="dataProcessing.taskData$" nzAsyncData nzCheckable (nzClick)="onclick($event)"
          (nzExpandChange)="nzEvent($event)" #taskTerr>
        </nz-tree> -->
        <!-- {{dataProcessing.taskData$ | json}} -->
        <!-- <div *ngFor="let item of dataProcessing.taskData$; index as i">
          <p>{{item}}</p>
          <div *ngFor="let item2 of dataProcessing.taskData$[i]">
            <p>{{item}}</p>
          </div>
        </div> -->
        <!-- <nz-transfer [nzDataSource]="list" nzShowSearch [nzOperations]="['to right', 'to left']"
          [nzListStyle]="{ 'width.px': 250, 'height.px': 300 }" [nzRender]="render" [nzFooter]="footer"
          (nzSelectChange)="select($event)" (nzChange)="change($event)">
          <ng-template #render let-item> {{ item.title }}-{{ item.description }} </ng-template>
          <ng-template #footer let-direction>
            <button nz-button (click)="reload(direction)" [nzSize]="'small'" style="float: right; margin: 5px;">
              reload
            </button>
          </ng-template>
        </nz-transfer> -->
      </div>
    </nz-card>
    <nz-card nzTitle="项目" *ngIf="dataProcessing.project">

    </nz-card>
    <nz-card nzTitle="构建" *ngIf="dataProcessing.component">
      {{dataProcessing.componentData$ | async}}
    </nz-card>
    <nz-card nzTitle="顶" *ngIf="dataProcessing.jack">
      {{dataProcessing.jackData$ | async}}
    </nz-card>
  </div>
</nz-modal>
