<div style="height: 100%" #mainContent>
  <table class="gridtable" #table>
    <thead>
      <tr>
        <th width="80" (click)="sotp()">顶</th>
        <th width="80" (click)="namualNext()">张拉孔道</th>
        <th>设备状态({{delay}}/{{nowDelay}})</th>
        <th>设备压力·Mpa</th>
        <th>目标压力·Mpa</th>
        <th>设备位移·mm</th>
        <th>单顶伸长量·mm</th>
        <th>总伸长量·mm</th>
        <th>实时偏差率· %</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of devNames; index as i" [class]="item">
        <td class="center">
          {{item}}
        </td>
        <td class="center" *ngIf="theoryIf[item] !== 0" [rowSpan]="theoryIf[item]">
          {{holeNames[i / 2]}}
        </td>

        <td>{{PLCS.PD[item].state}}·{{auto.runState ? PLCS.PD[item].autoState[0] : selfInspectMsg[selfInspectData.state[item]]}}</td>
        <td>{{PLCS.PD[item].showMpa}}</td>
        <td>{{task[item].kn[task.record?.tensionStage]}}</td>
        <td>{{PLCS.PD[item].showMm}}</td>
        <td>{{elongation[item].mm}}</td>

        <td *ngIf="theoryIf[item] !== 0" [rowSpan]="theoryIf[item]">
          {{elongation[item].sumMm}}
        </td>
        <td *ngIf="theoryIf[item] !== 0" [rowSpan]="theoryIf[item]">
          {{elongation[item].percent}}
        </td>
      </tr>
    </tbody>
  </table>
  <echarts-dynamic-line *ngIf="svgHeight > 0" [height]="svgHeight" [devs]="devNames" [data]="svgData.map"
    [index]="index" name="压力 · Mpa"></echarts-dynamic-line>
  <echarts-dynamic-line *ngIf="svgHeight > 0" [height]="svgHeight" [devs]="devNames" [data]="svgData.mm" [index]="index"
    name="位移 · mm"></echarts-dynamic-line>
</div>

<nz-modal *ngIf="task" nzWidth="95%" nzMaskClosable="false" nzTitle="自动张拉数据" [nzVisible]="modal.state" [nzFooter]="btn">
  <div nz-row nzGutter="25">
    <nz-divider style="min-width: auto;" nzText="设备状态" nzOrientation="left"></nz-divider>
    <div nz-col nzSm="24" nzLg="12" class="title" *ngFor="let name of devNames; index as i">
      <h1>{{name}}·{{PLCS.PD.zA.state}}-{{PLCS.PD[name].alarm | json}}</h1>
      <div *ngIf="PLCS.PD[name].alarm.length > 0" class="alarm">
        <nz-alert nzType="error" [nzMessage]="PLCS.PD[name].alarm[0]" nzShowIcon>
        </nz-alert>
        <button nzSize="large" nz-button nzType="default" *ngIf="PLCS.PD[name].alarm.length > 1"
          (click)="showAlarm(name)">查 看</button>
      </div>
    </div>
  </div>
  <div>
    <nz-divider style="min-width: auto;" nzText="张拉任务" nzOrientation="left"></nz-divider>
    <table class="gridtable">
      <thead>
        <tr>
          <th width="120">任务</th>
          <th width="120">张拉孔道</th>
          <th>初张拉</th>
          <th>阶段一</th>
          <th *ngIf="tensionStageArr.length > 3">阶段二</th>
          <th *ngIf="tensionStageArr.length > 4">阶段三</th>
          <th>终张拉</th>
          <th width="120">工作长度mm</th>
          <th width="120">理论伸长量mm</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="device-name text-c" colspan="2">
            阶段
          </td>
          <td class="text-c" *ngFor="let item of tensionStageArr; index as i;">
            {{task.stage[i]}}
          </td>
        </tr>

        <tr *ngFor="let item of devNames; index as i" [class]="item">
          <td class="device-name" class="text-c">
            {{item}}
          </td>
          <td *ngIf="theoryIf[item] !== 0" [rowSpan]="theoryIf[item]" class="text-c">
            {{holeNames[i / 2]}}
          </td>
          <td *ngFor="let k of tensionStageArr; index as kni;">
            {{task[item].kn[kni]}}
          </td>
          <td>
            {{task[item].wordMm}}
          </td>
          <td *ngIf="theoryIf[item] !== 0" [rowSpan]="theoryIf[item]">
            {{task[item].theoryMm}}
          </td>
        </tr>
        <tr>
          <td class="device-name text-c" colspan="2">
            保压时间
          </td>
          <td class="text-c" *ngFor="let item of tensionStageArr; index as i;">
            {{task.time[i]}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <nz-divider style="min-width: auto;" nzText="自动参数" nzOrientation="left"></nz-divider>
    <nz-row>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="压力差Mpa">
          <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60"
            [(ngModel)]="autoData.pressureDifference" ></nz-input-number>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="超伸长量%">
          <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60"
            [(ngModel)]="autoData.superElongation" ></nz-input-number>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="张拉平衡mm">
          <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60"
            [(ngModel)]="autoData.tensionBalance" ></nz-input-number>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="回顶位移mm">
          <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60" [(ngModel)]="autoData.backMm"
            ></nz-input-number>
        </nz-input-group>
      </nz-col>
    </nz-row>
    <br>
    <nz-row>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="卸荷延时s">
          <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60"
            [(ngModel)]="autoData.unloadingDelay" ></nz-input-number>
        </nz-input-group>
      </nz-col>
    </nz-row>
  </div>


  <nz-modal nzZIndex="99999" [nzVisible]="modal.cancel" nzWidth="95%" nzMaskClosable="false" nzTitle="取消张拉"
    (nzOnCancel)="modal.cancel = false" (nzOnOk)="outOk()">
    <h1>张拉数保存选择</h1>
    <p>保存数据可以调整好设备可以继续使用该记录张拉</p>
  </nz-modal>
</nz-modal>

<ng-template #btn>
  <div class="kvm-btn-group">
    <button nz-button nzType="primary" class="z" nzShape="round" (click)="selfRead()">张 拉</button>
    <button nz-button nzType="primary" class="r" nzShape="round" (click)="re()">回 顶</button>
    <button nz-button nzType="danger" class="s" nzShape="round" (click)="cancel()" *ngIf="!auto.runState">取消张拉</button>
    <button nz-button nzType="primary" class="z" nzShape="round" (click)="saveOut()" *ngIf="auto.runState">保存退出</button>
    <button nz-button nzType="danger" class="s" nzShape="round" (click)="cancelOut()"
      *ngIf="auto.runState">不保存退出</button>
  </div>
</ng-template>
