<div class="operation">
  <div *ngIf="!appS.edit; else elseBlock">
    <button nz-button nzType="primary" nzSearch (click)="edit(true)" type="button">添 加</button>
    <button nz-button nzType="primary" nzSearch (click)="appS.edit = true" type="button" *ngIf="appS.leftMenu[0]">修 改</button>
    <button nz-button nzType="danger" nzSearch (click)="edit()" type="button" *ngIf="appS.leftMenu[0]">复 制</button>
  </div>
  <ng-template #elseBlock>
    <button nz-button nzType="primary" nzSearch (click)="save()" type="button" *ngIf="appS.edit">保 存</button>
    <button nz-button nzType="danger" nzSearch (click)="cancelEdit()" type="button" *ngIf="appS.edit">取 消</button>
  </ng-template>
</div>
