<div class="layout">
  <header>
    <div class="left" (click)="power()" style="cursor: pointer">
      <div class="logo">
        <!-- <img src="/assets/img/logo.jpeg"> -->
        <nz-avatar [nzSize]="56" nzShape="square" [nzSrc]="'./' + appS.info.unit.logo"></nz-avatar>
        <!-- <span>KVM</span> -->
      </div>
      <div class="user">
        <p>
          {{appS.userInfo?.name || '非法登录'}}
        </p>
      </div>
    </div>
    <div class="main">
      <div class="icon" *ngFor="let item of appS.menus" [ngClass]="{'active': ifUrl(item.url)}"
        (click)="goUrl(item.url)">
        <i nz-icon [type]="item.icon" theme="outline"></i>
        <div class="text">{{item.name}}</div>
      </div>
      <div class="icon" (click)="appS.dataTreatingShow = true">
        <i nz-icon type="file-sync" theme="outline"></i>
        <div class="text">数据</div>
      </div>
      <div class="icon" (click)="appS.debugShow = true" *ngIf="appS.userInfo.jurisdiction >= 8" >
        <i nz-icon type="bug" theme="outline"></i>
        <div class="text">调试</div>
      </div>
    </div>
  </header>
  <main>
    <div style="flex: 1; height: 100%;">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<app-data-treating *ngIf="appS.dataTreatingShow"></app-data-treating>
<app-debug *ngIf="appS.debugShow"></app-debug>
