<div class="modal">
  <div class="main">
    <div (click)="close()" style="position: absolute; right: 25px;">
      <i nz-icon nzType="close" nzTheme="outline" style="font-size: 35px;" ></i>
    </div>
    <nz-anchor [nzAffix]="false" [nzTarget]="y" style="    position: fixed;
    top: 25px;
    left: 15px;
    width: 9.8%;">
      <nz-link *ngFor="let name of mode; index as i" [nzHref]="'#' + name" [nzTitle]="name"></nz-link>
    </nz-anchor>
    <h1>{{modeName}}-{{PLCS.jack.name}}</h1>
    <div class="scroll-y">
      <div class="scroll-content"  #y>
        <div *ngFor="let name of mode" [id]="name">
          <nz-divider style="min-width: auto;" [nzText]="name" nzOrientation="left"></nz-divider>
          <div style="display: flex; flex-wrap: wrap;">
            <div *ngFor="let item of debugItems; index as i" class="debug-item">
              <span [class]="'state' + debugData[name][item].state">{{debugNames[i]}}</span>
              <span class="time">时间：{{debugData[name][item].time}}s </span>
              <span class="start">开始值：{{debugData[name][item].start}}</span>
              <span class="end">结束值：{{debugData[name][item].end}}</span>
              <span class="name">{{debugData[name][item].name}}</span>
              <span class="date">日期：{{debugData[name][item].date | date: 'yyyy-MM-dd hh:mm'}}&nbsp;&nbsp;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
