<div style="display: flex;">
  <app-manual-item style="flex: 1;" #manual class="kvm-slider" [dev]="setData" [name]='name' [refreshState]="true"></app-manual-item>
  <div style="width: 30%; margin-left: 30px;">
    <h1 style="text-align: center;">{{reviseName === 'mpa' ? '压力' : '位移'}}校正·{{setStage[setIndex]}}</h1>
    <nz-input-group nzSize="large" [nzAddOnBefore]="'设备' + (reviseName === 'mpa' ? '压力Mpa' : '位移mm')">
      <input type="number" style="background-color: #fff; color: rgba(0, 0, 0, 0.65);" readonly disabled nz-input [(ngModel)]="revise.devValue" (input)="countRevise()">
    </nz-input-group>
    <!-- <nz-input-group>
      <button nz-button nzType="primary" nzSize="large" style="width: 100%;" (click)="getDevValue()">获取设备值</button>
    </nz-input-group> -->
    <br>
    <br>
    <nz-input-group nzSize="large" nzAddOnBefore="差值" [nzAddOnAfter]="opt">
      <input type="number" nz-input [(ngModel)]="revise.measureValue" min="-0.3" max="0.3" (input)="countRevise()">
      <ng-template #opt>
        <button nz-button (click)="setMeasureValue(0.1)">+</button>
        <button nz-button (click)="setMeasureValue(-0.1)">-</button>
      </ng-template>
    </nz-input-group>
    <br> <br>
    <nz-input-group nzSize="large" nzAddOnBefore="校正值" >
      <input type="number" nz-input [(ngModel)]="revise.value" (input)="countRevise()">
    </nz-input-group>
    <br><br>
    <button style="width: 100%;" nz-button nzType="primary" nzSize="large" (click)="reviseOk()"
      [disabled]="!(revise.value > 0.9 && revise.value < 1.2) || setIndex === null">确 定</button>
    <p>校正值应该在1.2 - 0.9 之间</p>
  </div>
</div>
<br><br>
<form nz-form [formGroup]="setForm">
  <nz-form-item *ngIf="reviseName === 'mm'">
    <nz-form-label [nzSm]="3" nzRequired>位移上限</nz-form-label>
    <nz-form-control [nzSm]="5" [ngClass]="{'in-error': setForm.get('upper').errors}">
      <input type="number" min="2" max="220" nz-input formControlName="upper">
    </nz-form-control>
    <nz-form-label [nzSm]="3" nzRequired>位移下限</nz-form-label>
    <nz-form-control [nzSm]="5" [ngClass]="{'in-error': setForm.get('floot').errors}">
      <input type="number" min="2" max="220" nz-input formControlName="floot">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <div formArrayName="setValue">
      <div *ngFor="let item of setStage; index as i">
        <nz-form-control [nzSm]="8">
          <div style="display: flex; align-items: center; padding: 4px;"  (click)="setMm(i)" [ngStyle]="{backgroundColor: (setIndex === i ? '#40a9ff' : 'white'), color: (setIndex === i ? 'white' : 'rgba(0, 0, 0, 0.65)')}" >
            <span style="width: 45%; text-align: right;">{{item}}：</span>
            <input readonly disabled type="number" style="border: 1px solid #d9d9d9;" nz-input [formControlName]="i">
          </div>
        </nz-form-control>
      </div>
    </div>
  </nz-form-item>

</form>
