<app-left>
  <div class="sider sider-menu">
    <task-menu style="overflow: hidden;" (menuChange)="onBridge($event)" #taskMneu></task-menu>
  </div>
  <div class="main">
    <!-- <button (click)="save100()">添加100</button> -->
    <nz-tabset class="task-tabset" (nzSelectChange)="changeTabst($event)">
      <nz-tab nzTitle="基础信息">
        <div class="form-edit">
          <form nz-form [ngClass]="{'form-edit': !appS.edit}" [formGroup]="formData">
            <nz-form-item>
              <nz-form-label [nzSm]="3" nzRequired>梁号</nz-form-label>
              <nz-form-control [nzSm]="21" [ngClass]="{'in-error': formData.get('name').errors}" [nzErrorTip]="formData.get('name').errors | ValidatorError">
                <input type="text" nz-input placeholder="梁号" formControlName="name">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="3" nzRequired>构建</nz-form-label>
              <nz-form-control [nzSm]="6" nzErrorTip="请入选择构建！">
                <div style="display: flex;">
                  <nz-select style="width: 100%;" formControlName="component" nzPlaceHolder="选择构建" (ngModelChange)="componentChange($event)" [nzDisabled]="selectJackState">
                    <nz-option [nzValue]="item.name" [nzLabel]="item.name" *ngFor="let item of componentOptions.menu"></nz-option>
                  </nz-select>
                  <button nz-button nzType="primary" nzSearch (click)="groupDom.onShow()"
                    type="button" *ngIf="!data?.id" style="z-index: 1">分组</button>
                </div>
                <!-- <nz-form-explain *ngIf="formData.get('component').dirty && formData.get('component').errors">
                  请入选择构建！</nz-form-explain> -->
              </nz-form-control>

              <nz-form-label [nzSm]="3" nzRequired>顶</nz-form-label>
              <nz-form-control [nzSm]="5" nzErrorTip="请入选择顶！">
                <nz-cascader nzMenuClassName="task-cascader" nzPlaceHolder="选择顶" [nzOptions]="jacks" formControlName="device" [nzAllowClear]="false"
                  (ngModelChange)="deviceOnChanges($event)" [nzDisabled]="selectJackState">
                </nz-cascader>
              </nz-form-control>
            </nz-form-item>

            <app-add-other [validateForm]="formData" [keys]="bridgeOtherKey" [iselect]="0" #otherInfo></app-add-other>

            <nz-form-item *ngIf="data" style="z-index: 2;">
              <nz-form-control nzErrorTip="至少需要一组张拉数据！">
                <nz-radio-group [nzButtonStyle]="'solid'">
                  <label nz-radio-button [nzValue]="item"
                    *ngFor="let item of holeMneuData.names; index as i"
                    (click)="onHoleRadio(item.name, i)"
                    [ngClass]="{'hole-active': holeMneuData.index === i}"
                    [class]="'hole' + item.cls"
                    class="hole"
                    >{{item.name}}</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </form>
          <app-task-data #taskDataDom [jackData]="jackData" (updateHole)="updateGroupItem()" [show]="holeMneuData.name"></app-task-data>
          <div class="edit" [ngClass]="{'edit-on': appS.edit}" *ngIf="!appS.edit"></div>
        </div>
        <app-record *ngIf="holeMneuData.data && holeMneuData.data?.record" [GroupData]="holeMneuData.data" ></app-record>
      </nz-tab>
      <nz-tab nzTitle="设备信息" [nzDisabled]="!jackData">
        <task-jack [taskJack]="jackData" [mode]="data.device" *ngIf="tabsetShow === 1"></task-jack>
      </nz-tab>
      <nz-tab nzTitle="其他">
        <p>创建者：{{data?.user}}</p>
        <p>创建日期：{{data?.createdDate | date: "yyyy.MM.dd HH:mm"}}</p>
        <p>修改日期：{{data?.modificationDate | date: "yyyy.MM.dd HH:mm"}}</p>
      </nz-tab>
    </nz-tabset>

    <div class="operation" *ngIf="taskMneu.project.select">
      <app-operat [dbName]="dbName" [formData]="formData" (outEdit)="onEdit($event)"
        (outEditOk)="editOk($event)"
        [addFilterFun] = "addFilterFun"
        [updateFilterFun] = "updateFilterFun"
        [saveState]="taskDataDom?.holeForm?.valid"
        (outDelete)="delete()">
        <!-- <button nz-button nzType="primary" nzGhost nzSearch (click)="selectTemplate()" type="button" >选择导出</button>
        <button nz-button nzType="primary" nzGhost nzSearch (click)="derivedExcel()" type="button" >导 出</button> -->
        <button nz-button nzType="primary" nzGhost nzSearch (click)="onTension()" type="button" *ngIf="holeMneuData.index !== null && (!holeMneuData.data?.record || (holeMneuData.data?.record && holeMneuData.data?.record.state !== 2 && holeMneuData.data?.record.state !== 3) && !appS.edit)">张 拉</button>
      </app-operat>
    </div>
  </div>

</app-left>

<task-group (outGroup)="okGroup($event)" #groupDom></task-group>
<task-tension #tension></task-tension>
<!-- <nz-modal [nzVisible]="tensionDevice.state" nzTitle="设备状态错误！" nzOkText="张拉" nzWidth="80%"
  (nzOnCancel)="cleanTension()"
  (nzOnOk)="tension()">
  <div nz-row nzGutter="25">
    <div nz-col nzSm="24" nzLg="12" class="title" *ngFor="let name of tensionDevice.names; index as i">
      <nz-divider style="min-width: auto;" [nzText]="name + '：设备状态'" nzOrientation="left"></nz-divider>
      <h1>{{name}}·{{PLCS.PD.zA.state}}</h1>
      <h1 *ngIf="tensionDevice[name]"> {{tensionDevice[name]}} </h1>
      <nz-alert nzType="error" *ngFor="let item of PLCS.PD[name].alarm" [nzMessage]="item" nzShowIcon>
      </nz-alert>
    </div>
  </div>
</nz-modal> -->
<app-delete-modal *ngIf="deleteShow" (outDelete)="deleteOk($event)"></app-delete-modal>
