<main class="setting">
  <div [ngClass]="{'form-edit': !PLCS.plcState.z}">
    <nz-divider style="min-width: auto;" nzText="主机系统参数" nzOrientation="left"></nz-divider>
    <nz-row>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="压力上限Mpa">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="0" max="55" [(ngModel)]="systenDate.z[0]" (ngModelChange)="setF016('z', 412, $event)"/>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="回程压力Mpa">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="1.0" max="10.0" [(ngModel)]="systenDate.z[1]" (ngModelChange)="setF016('z', 414, $event)"/>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="超设置压力Mpa">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="0.5" max="5" [(ngModel)]="systenDate.z[2]" (ngModelChange)="setF016('z', 416, $event)"/>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="油泵延时s">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="30" max="9999" [(ngModel)]="systenDate.z[3]" (ngModelChange)="setF06('z', 418, $event * 10)"/>
        </nz-input-group>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nz-col nzSpan="18">
        <nz-input-group nzAddOnBefore="设备模式" nzSize="large">
          <nz-input-number nzSize="large" style="width: 1px"></nz-input-number>
          <nz-radio-group [(ngModel)]="systenDate.z[4]" (ngModelChange)="setF06('z', 408, $event)" nzSize="large">
            <label nz-radio [nzValue]="4">一泵四顶</label>
            <label nz-radio [nzValue]="2">一泵两顶</label>
            <label nz-radio [nzValue]="1">一泵一顶</label>
          </nz-radio-group>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="采集频率ms">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="100" max="1000" [value]="PLCS.heartbeatRateValue" (ngModelChange)="heartbeatRate($event)"/>
        </nz-input-group>
      </nz-col>
    </nz-row>
    <div class="edit" *ngIf="!PLCS.plcState.z">设备未连接无法设置参数！！</div>
  </div>


  <div [ngClass]="{'form-edit': !PLCS.plcState.c}">
    <nz-divider style="min-width: auto;" nzText="主机系统参数" nzOrientation="left"></nz-divider>
    <nz-row>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="压力上限Mpa">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="0" max="55" [(ngModel)]="systenDate.c[0]" (ngModelChange)="setF016('c', 412, $event)"/>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="回程压力Mpa">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="1.0" max="10.0" [(ngModel)]="systenDate.c[1]" (ngModelChange)="setF016('c', 414, $event)"/>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="超设置压力Mpa">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="0.5" max="5" [(ngModel)]="systenDate.c[2]" (ngModelChange)="setF016('c', 416, $event)"/>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="油泵延时s">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="30" max="9999" [(ngModel)]="systenDate.c[3]" (ngModelChange)="setF06('c', 418, $event * 10)"/>
        </nz-input-group>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nz-col nzSpan="18">
        <nz-input-group nzAddOnBefore="设备模式" nzSize="large">
          <nz-input-number nzSize="large" style="width: 1px"></nz-input-number>
          <nz-radio-group [(ngModel)]="systenDate.c[4]" (ngModelChange)="setF06('c', 408, $event)" nzSize="large">
            <label nz-radio [nzValue]="4">一泵四顶</label>
            <label nz-radio [nzValue]="2">一泵两顶</label>
            <label nz-radio [nzValue]="1">一泵一顶</label>
          </nz-radio-group>
        </nz-input-group>
      </nz-col>
      <!-- <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="采集频率ms">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="100" max="1000" [(ngModel)]="heartbeatRateValue" (ngModelChange)="heartbeatRate($event)"/>
        </nz-input-group>
      </nz-col> -->
    </nz-row>
    <div class="edit" *ngIf="!PLCS.plcState.c">设备未连接无法设置参数！！</div>
  </div>

  <div>
    <button nz-button nzType="primary" (click)="ref()" [nzLoading]="refState">
      <i nz-icon type="reload" theme="outline"></i>
      刷新数据</button>
  </div>
  <div>
    <nz-divider style="min-width: auto;" nzText="自动参数" nzOrientation="left"></nz-divider>
    <nz-row>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="压力差Mpa">
          <input type="number" nz-input nzSize="large" style="width: 100%;" min="1" max="55" [(ngModel)]="autoData.pressureDifference" (ngModelChange)="setAuto()" />
          <!-- <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60"
            [(ngModel)]="autoData.pressureDifference" (ngModelChange)="setAuto()"></nz-input-number> -->
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="超伸长量%">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="5" [(ngModel)]="autoData.superElongation" (ngModelChange)="setAuto()"/>
          <!-- <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60"
            [(ngModel)]="autoData.superElongation" (ngModelChange)="setAuto()"></nz-input-number> -->
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="张拉平衡mm">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="0" max="55" [(ngModel)]="autoData.tensionBalance" (ngModelChange)="setAuto()"/>
          <!-- <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60"
            [(ngModel)]="autoData.tensionBalance" (ngModelChange)="setAuto()"></nz-input-number> -->
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="回顶位移mm">
          <input nz-input type="number" nzSize="large" style="width: 100%;" min="30" max="100" [(ngModel)]="autoData.backMm" (ngModelChange)="setAuto()"/>
          <!-- <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60" [(ngModel)]="autoData.backMm"
            (ngModelChange)="setAuto()"></nz-input-number> -->
        </nz-input-group>
      </nz-col>
    </nz-row>
    <br>
    <nz-row>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="卸荷延时s">
            <input nz-input type="number" nzSize="large" style="width: 100%;" min="5" max="999" [(ngModel)]="autoData.unloadingDelay" (ngModelChange)="setAuto()"/>
          <!-- <nz-input-number nzSize="large" style="width: 100%;" [nzMin]="0" [nzMax]="60"
            [(ngModel)]="autoData.unloadingDelay" (ngModelChange)="setAuto()"></nz-input-number> -->
        </nz-input-group>
      </nz-col>
    </nz-row>
  </div>

  <div>
    <nz-divider style="min-width: auto;" nzText="键盘大小" nzOrientation="left"></nz-divider>
    <nz-row>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="文字键盘">
          <nz-input-group nzAddOnBefore="宽">
            <input type="number" nz-input nzSize="large" style="width: 100%;" [(ngModel)]="keyboard.text.w" />
          </nz-input-group>
          <nz-input-group nzAddOnBefore="高">
            <input type="number" nz-input nzSize="large" style="width: 100%;" [(ngModel)]="keyboard.text.h" />
          </nz-input-group>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="数字键盘">
          <nz-input-group nzAddOnBefore="宽">
            <input type="number" nz-input nzSize="large" style="width: 100%;" [(ngModel)]="keyboard.number.w" />
          </nz-input-group>
          <nz-input-group nzAddOnBefore="高">
            <input type="number" nz-input nzSize="large" style="width: 100%;" [(ngModel)]="keyboard.number.h" />
          </nz-input-group>
        </nz-input-group>
      </nz-col>
      <nz-col nz-col nzSpan="2">
        <button nz-button nzType="primary" (click)="setKeyboard()">更 新</button>
      </nz-col>

      <nz-col nz-col nzSpan="6">
          <input type="text" nz-input nzSize="large" style="width: 100%;" placeholder="测试键盘" />
      </nz-col>
    </nz-row>
  </div>

  <div>
    <nz-divider style="min-width: auto;" nzText="压力校正" nzOrientation="left"></nz-divider>
    <table>
      <tr>
        <th *ngFor="let item of revise.mpaStage; index as i">{{item  | nameConvert}}</th>
        <th>操 作</th>
      </tr>
      <tr height="60">
        <td *ngFor="let item of revise.mpaStage; index as i">
          <input nzSize="large" type="number" nz-input min="0" max="0.5"  [(ngModel)]="PLCS.revise.zVirtualHeight[i]">
        </td>
        <td><button nzSize="large" nz-button nzType="default" [disabled]="!PLCS.plcState.z" (click)="setVirtualHeight('z')">保存主机虚高压力</button></td>
      </tr>
      <tr *ngFor="let name of revise.zMode; index as i" height="60" [class]="name">
        <td *ngFor="let item of revise.mpaStage; index as i">
          <input nzSize="large" readonly disabled type="number" nz-input [value]="PLCS.revise.zMpaRevise[name][i]">
        </td>
        <td><button nzSize="large" nz-button nzType="default" (click)="onRevise('z', name)"
            [disabled]="!PLCS.plcState.z">主{{name | nameConvert}}校 正</button></td>
      </tr>

      <tr>
        <td *ngFor="let item of revise.mpaStage; index as i">
          <input nzSize="large" type="number" nz-input min="0" max="0.5" [(ngModel)]="PLCS.revise.cVirtualHeight[i]">
        </td>
        <td><button nzSize="large" nz-button nzType="default" [disabled]="!PLCS.plcState.c" (click)="setVirtualHeight('c')">保存副机虚高压力</button></td>
      </tr>
      <tr *ngFor="let name of revise.cMode; index as i" height="60" [class]="name">
        <td *ngFor="let item of revise.mpaStage; index as i">
          <input nzSize="large" readonly disabled type="number" nz-input [value]="PLCS.revise.cMpaRevise[name][i]">
        </td>
        <td><button nzSize="large" nz-button nzType="default" (click)="onRevise('c', name)"
            [disabled]="!PLCS.plcState.z">副{{name | nameConvert}}校 正</button></td>
      </tr>
    </table>
  </div>
</main>

<nz-modal *ngIf="revise.state" nzWidth="95%" [(nzVisible)]="revise.state" nzMaskClosable="false" nzClosable="false" [nzStyle]="{ top: '20px' }"
  [nzTitle]="(revise.name + revise.dev | nameConvert) + '·压力校正'" (nzOnCancel)="cancel()" (nzOnOk)="ok()" nzOkText="保 存">
  <app-revise-item #reviseDom [name]="revise.devName" reviseName="mpa" [reviseData]="PLCS.revise[revise.dev + 'MpaRevise'][revise.name]">
  </app-revise-item>
</nz-modal>
