.zA {
  color: #ff4081;
  input, .ant-divider-inner-text.ng-star-inserted{
    color: #ff4081;
  }
}
.cA {
  color: #ff5722;
  input, .ant-divider-inner-text.ng-star-inserted, .ant-divider-inner-text.ng-star-inserted{
    color: #ff5722;
  }
}
.zB {
  color: #651fff;
  input, .ant-divider-inner-text.ng-star-inserted{
    color: #651fff;
  }
}
.cB {
  color: #3d5afe;
  input, .ant-divider-inner-text.ng-star-inserted{
    color: #3d5afe;
  }
}
.zC {
  color: #0091ea;
  input, .ant-divider-inner-text.ng-star-inserted{
    color: #0091ea;
  }
}
.cC {
  color: #00b8d4;
  input, .ant-divider-inner-text.ng-star-inserted{
    color: #00b8d4;
  }
}
.zD {
  color: #388e3c;
  input, .ant-divider-inner-text.ng-star-inserted{
    color: #388e3c;
  }
}
.cD {
  color: #00c853;
  input, .ant-divider-inner-text.ng-star-inserted{
    color: #00c853;
  }
}
