<nz-modal nzMaskClosable="false" [nzVisible]="show" nzTitle="手动分组" (nzOnCancel)="onCancel()"
  (nzOnOk)="onSave()">
  <div *ngFor="let item of modeGroup">
    <nz-input-group [nzAddOnBefore]="item + '组'">
      <!-- <input type="text" nzSize="large" nz-input [(ngModel)]="groupDevValue[item]" (input)="ifHoleName()"> -->
      <nz-select style="width: 200px;" nzShowSearch nzPlaceHolder="选择构建" [(ngModel)]="selectMde[item]"
        nzSize="large" (nzOpenChange)="open()">
        <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of residueHole">
        </nz-option>
      </nz-select>
    </nz-input-group>
    <br>
    <br>
  </div>
  <button nz-button nzType="primary" nzSearch (click)="itemGroupSave()" type="button">确定</button>
  <p *ngIf="err.length">
    <span *ngFor="let item of err; index as i">{{item}}组{{i !== err.length - 1 ? '|' : '' }}</span>：不能为空！！
  </p>
  <div>
    <br>
    <h3>已分组</h3>
    <hr>
    <div class="hole-tag">
      <span *ngFor="let item of holeGroup index as i">
        {{item}}
        <i nz-icon type="close" theme="outline" (click)="delHoleGroup(i)"></i>
      </span>
    </div>
  </div>
</nz-modal>
