<app-left>
  <div class="sider sider-menu">
    <ul class="menu-2">
      <li *ngFor="let item of menu.datas; index as i" [ngClass]="{'active': menu.select === item.id}"
        (click)="onMneu(item.id)">{{item.name}}</li>
    </ul>
  </div>
  <div class="main scroll-y">
    <div class="operation">
      <div *ngIf="!appS.edit; else elseBlock">
        <button nz-button nzType="primary" nzSearch (click)="add()" type="button">添 加</button>
        <button nz-button nzType="primary" nzSearch (click)="modification()" type="button" *ngIf="data">修 改</button>
        <button nz-button nzType="danger" nzSearch (click)="copy()" type="button" *ngIf="data">复 制</button>
      </div>
      <ng-template #elseBlock>
        <button nz-button nzType="primary" nzSearch (click)="save()" type="button" *ngIf="appS.edit">保 存</button>
        <button nz-button nzType="danger" nzSearch (click)="cancelEdit()" type="button" *ngIf="appS.edit">取 消</button>
      </ng-template>
    </div>
    <app-project class="scroll-content" #prjDom></app-project>
  </div>
</app-left>
